@font-face{
    font-family: "Pokemon Solid";
    src: url("/src/assets/fonts/Pokemon Solid.ttf");
}
@font-face{
    font-family: "Pokemon Hollow";
    src: url("/src/assets/fonts/Pokemon Hollow.ttf");
}